<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap type="Member" id="memberResult">
			<result column="mem_id" property="memId"/>
			<result column="mem_pwd" property="memPwd"/>
	</resultMap>
	<select id="login" resultMap="memberResult">
		select
		       mem_id
		     , mem_pwd
		  from member
		 where mem_id = #{memId}
		   and mem_pwd = #{memPwd}
	</select>
	
</mapper>